{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9">

<link media="all" rel="stylesheet" href='{% static "css/custom_bootstrap.min.css" %}' />
<script type="text/javascript" src='{% static "js/jquery-3.3.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery.browser.js" %}'></script>

<link media="all" rel="stylesheet" href='{% static "css/redactor.css" %}' />
<link media="all" rel="stylesheet" href='{% static "css/redactor_air.css" %}' />
<script type="text/javascript" src='{% static "js/redactor.js" %}'></script>

<style type="text/css">
.mainMenu{
  position:fixed;
  bottom:-300px;
  z-index:10000;
  background-color:#fff;
  border:1px solid #eee;
  width:100%;
  height:350px;
}
.mainMenu.opened{
  bottom:0;
}
#mainCanvas div.title{
  font-size:1.2em;
  font-weight:bold;
}
</style>

<link rel="stylesheet" type="text/css" href='{% static "css/js-graph-it.css" %}' />
<script type="text/javascript" src='{% static "js/js-graph-it.js" %}'></script>


<script type='text/javascript'>
var __root_id = "#mainCanvas";
// --------------------
// Память для хранения
// всех блоков и связей
// --------------------
var __memory = Array();

// ---------------------------------------
// Браузер загрузил HTML и построил дерево
// ---------------------------------------
document.addEventListener('DOMContentLoaded', dom_loaded);

function dom_loaded(){

  //step_to_memory();

  var memory = localStorage.getItem("__memory");
  if(memory && memory.length > 10){
    __memory = JSON.parse(memory);
    //steps_from_memory();
  }else{
    //step_to_memory();
  }


  //initPageObjects();
  //resizeCanvas();
  //initRedactor();

  // -----------------------
  // Найти наш рабочий холст
  // -----------------------
  //console.log(findCanvas(__root_id.replace("#", "")));
}

// -----------------------------------
// Инициализирем редактор для textarea
// -----------------------------------
function initRedactor(){
  var balloon_title = $(__root_id + " .balloon_title");
  balloon_title.redactor({
    //fixed: true,
    air: true,
  });
  var balloon_desc = $(__root_id + " .balloon_desc");
  balloon_desc.redactor({
    //fixed: true,
    air: true,
  });
}

// ----------------------------------
// Подгонка высоты документа под
// максимальную позицию top элементов
// ----------------------------------
function resizeCanvas(){
  var container = $(__root_id);
  var children = container.children();
  var el;
  var pos;
  for(var i=0; i<children.length; i++){
    el = $(children[i]);
    pos = el.position();
    if(document_height < pos.top){
      document_height = pos.top;
    }
  }
  container.css("height", document_height);
}

// -------------------
// Меню редактирования
// -------------------
var mainMenuContainer;
var selected_element = null;
var document_height = 1200;

$(window).click(function(){
  if(mainMenuContainer.hasClass("opened")){
    mainMenuContainer.removeClass("opened");
  }
});

// ---------------
// Открыть менюшку
// ---------------
function open_mainMenu(event){
  event.stopPropagation();
  if(!mainMenuContainer.hasClass("opened")){
    mainMenuContainer.addClass("opened");
  }
}

// ------------------------
// Прячем air-mode редактор
// ------------------------
function hide_air_mode_redactor(){
  //console.log("hide_air_mode_redactor");
  $(__root_id + " .balloon_title").each(function(){
    $(this).getObject().air.hide();
  });
  $(__root_id + " .balloon_desc").each(function(){
    $(this).getObject().air.hide();
  });
}
// --------------------------
// Загрузка информации о шаге
// в панель инструментов
// --------------------------
function load_balloon(el){
  $("#balloon_title").html(el.find(".balloon_title").getCode());
  $("#balloon_desc").html(el.find(".balloon_desc").getCode());
  get_balloon_answers_count(el);
}

// --------------------------
// Снять все выделения текста
// НЕ ИСПОЛЬЗУЕТСЯ
// --------------------------
function clearSelection(){
 if (window.getSelection) {window.getSelection().removeAllRanges();}
 else if (document.selection) {document.selection.empty();}
}

// ---------------------------------
// Получить количество потомков шага
// ---------------------------------
function get_balloon_answers_count(el){
  var answers_count = 0;
  var cls = el.attr("id");

  $(__root_id + " .connector-end").each(function(){
    if($(this).attr("data-from") === cls){
      answers_count += 1;
    }
  });
  $("#balloon_answers_count").html("Вложенные шаги: " + answers_count);
}

// ------------------
// Получаем номер
// максимального шага
// ------------------
function get_last_step(){
  var last_step = 0;
  var cur_step = null
  $(__root_id + " .block").each(function(){
    cur_step = parseInt($(this).attr("id").replace("block_", ""));
    if(cur_step > last_step){
      last_step = cur_step;
    }
  });
  return last_step;
}

// -------------------------------
// Добавление нового шага в память
// -------------------------------
function step_to_memory(){

  var last_step_id = get_last_step();
  var new_step_id = last_step_id + 1;

  var title = `Шаг ${new_step_id}. Название`;
  var desc = `Текст ...`;
  // ----------------------------------
  // Коннектор к родительскому элементу
  // ----------------------------------
  var connectors = Array();
  if(selected_element === null){
    parent_id = null;
  }else{
    connectors.push({
      parent_id: parseInt(selected_element.attr("id").replace("block_", "")),
    });
  }

  __memory.push({
    "id": new_step_id,
    "title": title,
    "desc": desc,
    "left": 1,
    "top": 1,
    "connectors": connectors,
  });
  steps_from_memory();
}

// -----------------------------
// Восстановление шага из памяти
// -----------------------------
function step_from_memory(step){
  var new_step = `
    <div class="block draggable" id="block_${step.id}" style="left:${step.left}px; top:${step.top}px;">
      <div class="title balloon_title">${step.title}</div>
      <div class="desc balloon_desc">${step.desc}</div>
    </div>
  `;
  $(__root_id).append($(new_step));

  for(var i=0; i<step.connectors.length; i++){
    var connector = step.connectors[i];
    var new_connector = `
      <div class="connector block_${connector.parent_id} block_${step.id}">
        <img src='{% static "img/arrow.gif" %}' class="connector-end" data-to="block_${step.id}" data-from="block_${connector.parent_id}">
      </div>
    `;
    $(__root_id).append($(new_connector));
  }
}

// --------------------------------
// Нажатие по блоку, вызываем меню,
// загружаем информацию в меню
// --------------------------------
function initBlockListeners(){
  $(__root_id + " .block").click(function(event){
    selected_element = $(this);
    open_mainMenu(event);
    load_balloon($(this));
  });
}

// ---------------------------------
// Полная очистка canvas
// для последующей переинициализации
// ---------------------------------
function dropPageObjects(){
  var canvas = findCanvas(__root_id.replace("#", ""));
  if(canvas !== null){
    var c = document.getElementById(canvas.id);
    while (c.firstChild) {
      c.removeChild(c.firstChild);
    }
    canvases.splice(canvases.indexOf(canvas), 1);
  }
}

// -----------------------------------
// Восстанавливаем все шаги из памяти,
// инициируем редактор
// -----------------------------------
function steps_from_memory(){
  dropPageObjects(__root_id);

  for(var i=0; i<__memory.length; i++){
    step_from_memory(__memory[i]);
  }
  initRedactor();
  initBlockListeners();
  initPageObjects();
}

// ----------------------------------
// Обновление позиции, заголовка,
// описания в памяти для последующего
// восстановления из памяти
// ----------------------------------
function update_steps_in_memory(){
  var canvas = findCanvas(__root_id.replace("#", ""));
  if(canvas !== null){
    var blocks = canvas.blocks;
    for(var i=0; i<blocks.length; i++){
      __memory[i].left = blocks[i].currentLeft;
      __memory[i].top = blocks[i].currentTop;

      //console.log($("#" + blocks[i].id).find(".balloon_title").getCode());
      //console.log($("#" + blocks[i].id).find(".balloon_desc").getCode());
    }
  }
}

// -------
// События
// -------
$(document).ready(function(){
  mainMenuContainer = $(".mainMenu");
  // -------------------------------
  // Нажатие на меню (разворачиваем)
  // -------------------------------
  $(".mainMenu").click(function(event){
    open_mainMenu(event);
  });
  // --------------------------
  // Нажатие по рабочей области
  // прячет открытые редакторы
  // --------------------------
  $(__root_id).click(function(){
    hide_air_mode_redactor();
  });

  // ------------------------------
  // Добавление нового шага
  // _childblock_ - добаляемый
  // _parentblock_ - куда добавляем
  // заменяем на block_0 (block_id)
  // ------------------------------
  $("#add_new_step").click(function(event){
    if(selected_element === null){
      return;
    }
    step_to_memory();
  });

  setInterval(function(){
    //update_steps_in_memory();
    //localStorage.setItem("__memory", JSON.stringify(__memory));
  }, 1000);


  initPageObjects();
});
</script>
</head>
<body class="custom_bootstrap">

<div class="mainMenu">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Свойства шага</div>
        <div class="panel-body">
          <div id="balloon_title">Наименование шага</div>
          <div id="balloon_desc">
            Содержание шага
          </div>
          <div id="balloon_answers_count"></div>
          <div class="input-group">
            <a href="javascript:void(0);" id="add_new_step" class="btn btn-primary">Добавить шаг</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Связи шага</div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="canvas" id="mainCanvas" style="width: 100%; height: 600px; border: 1px solid black;">


    {% include "dialog/demo_dialog.html" %}


</div>

</body>
</html>