{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9">

<link media="all" rel="stylesheet" href='{% static "css/custom_bootstrap.min.css" %}' />
<script type="text/javascript" src='{% static "js/jquery-3.3.1.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/jquery.browser.js" %}'></script>

<link media="all" rel="stylesheet" href='{% static "css/redactor.css" %}' />
<link media="all" rel="stylesheet" href='{% static "css/redactor_air.css" %}' />
<script type="text/javascript" src='{% static "js/redactor.js" %}'></script>

<style type="text/css">
.mainMenu{
  position:fixed;
  bottom:-300px;
  z-index:10000;
  background-color:#fff;
  border:1px solid #eee;
  width:100%;
  height:350px;
}
.mainMenu.opened{
  bottom:0;
}
#mainCanvas div.title{
  font-size:1.2em;
  font-weight:bold;
}
</style>

<link rel="stylesheet" type="text/css" href='{% static "css/js-graph-it.css" %}' />
<script type="text/javascript" src='{% static "js/js-graph-it.js" %}'></script>


<script type='text/javascript'>
var __root_id = "#mainCanvas";
// --------------------
// Память для хранения
// всех блоков и связей
// --------------------
var __memory = {"steps":Array(), "connectors":Array()};

// ---------------------------------------
// Браузер загрузил HTML и построил дерево
// ---------------------------------------
document.addEventListener('DOMContentLoaded', dom_loaded);

function dom_loaded(){
  var memory = localStorage.getItem("__memory");
  if(memory !== null){
    __memory = JSON.parse(memory);
    load_memory();
  }else{
    initPageObjects();
    step_to_memory();
  }
  resizeCanvas();
}

// -----------------------------------
// Инициализирем редактор для textarea
// -----------------------------------
function initRedactor(block){
  var block_id = "";
  if(block !== undefined){
    block_id = " #" + block;
  }
  var balloon_title = $(__root_id + block_id + " .balloon_title");
  balloon_title.redactor({
    air: true,
  });
  var balloon_desc = $(__root_id + block_id + " .balloon_desc");
  balloon_desc.redactor({
    air: true,
  });
}

// ----------------------------------
// Подгонка высоты документа под
// максимальную позицию top элементов
// ----------------------------------
function resizeCanvas(){
  var container = $(__root_id);
  var children = container.children();
  var el;
  var pos;
  for(var i=0; i<children.length; i++){
    el = $(children[i]);
    pos = el.position();
    if(document_height < pos.top){
      document_height = pos.top;
    }
  }
  container.css("height", document_height);
}

// -------------------
// Меню редактирования
// -------------------
var mainMenuContainer;
var selected_element = null;
var document_height = 1200;

$(window).click(function(){
  if(mainMenuContainer.hasClass("opened")){
    mainMenuContainer.removeClass("opened");
  }
});

// ---------------
// Открыть менюшку
// ---------------
function open_mainMenu(event){
  event.stopPropagation();
  if(!mainMenuContainer.hasClass("opened")){
    mainMenuContainer.addClass("opened");
  }
}

// ------------------------
// Прячем air-mode редактор
// ------------------------
function hide_air_mode_redactor(){
  //console.log("hide_air_mode_redactor");
  $(__root_id + " .balloon_title").each(function(){
    $(this).getObject().air.hide();
  });
  $(__root_id + " .balloon_desc").each(function(){
    $(this).getObject().air.hide();
  });
}
// --------------------------
// Загрузка информации о шаге
// в панель инструментов
// --------------------------
function load_balloon(el){
  $("#balloon_title").html(el.find(".balloon_title").getCode());
  $("#balloon_desc").html(el.find(".balloon_desc").getCode());
}

// ------------------
// Получаем номер
// максимального шага
// ------------------
function get_last_step(){
  var last_step = 0;
  var cur_step = null
  $(__root_id + " .block").each(function(){
    cur_step = parseInt($(this).attr("id").replace("block_", ""));
    if(cur_step > last_step){
      last_step = cur_step;
    }
  });
  return last_step;
}

// -------------------------------
// Добавление нового шага в память
// -------------------------------
function step_to_memory(){
  var canvas = findCanvas(__root_id.replace("#", ""));
  // -----------------------
  // Добавление нового блока
  // -----------------------
  var last_step_id = get_last_step();
  var new_step_id = last_step_id + 1;

  var title = `Шаг ${new_step_id}. Название`;
  var desc = `Текст ...`;

  var step = {
    "id": new_step_id,
    "title": title,
    "desc": desc,
    "left": 1,
    "top": 1,
  }
  __memory['steps'].push(step);

  var new_step = `
    <div class="block draggable" id="block_${step.id}" style="left:${step.left}px; top:${step.top}px; position:absolute;">
      <div class="title balloon_title">${step.title}</div>
      <div class="desc balloon_desc">${step.desc}</div>
    </div>
  `;

  $(__root_id).append(new_step);
  var newBlock = new Block(document.getElementById("block_" + step.id), canvas);
  newBlock.initBlock();
  canvas.blocks.push(newBlock);
  initRedactor(`block_${step.id}`);
  initBlockListeners(`block_${step.id}`);
  // ----------------------------------
  // Коннектор к родительскому элементу
  // ----------------------------------
  if(selected_element !== null){
    selected_element_id = parseInt(selected_element.attr("id").replace("block_", ""));

    var connector = {
      "id": `connector block_${selected_element_id} block_${new_step_id}`,
    }
    __memory['connectors'].push(connector);
    // ----------------------------
    // Добавление нового коннектора
    // ----------------------------
    var new_connector = `
      <div class="${connector.id}" id="${connector.id}">
        <img src='{% static "img/arrow.gif" %}' class="connector-end">
      </div>
    `;
    $(__root_id).append(new_connector);
    var newConnector = new Connector(document.getElementById(connector.id), canvas);
    newConnector.initConnector();
    canvas.connectors.push(newConnector);
  }
}

// -----------------------
// Удаление шага из памяти
// -----------------------
function step_from_memory(){
  if(selected_element === null){
    return;
  }
  var selected_element_id = parseInt(selected_element.attr("id").replace("block_", ""));

  var new_steps = Array();
  for(var i=0; i<__memory['steps'].length; i++){
    var step = __memory['steps'][i];
    if(step.id !== selected_element_id){
      new_steps.push(step);
    }
  }

  var new_connectors = Array();
  for(var i=0; i<__memory['connectors'].length; i++){
    var connector = __memory['connectors'][i];
    if(connector.id.indexOf(" block_" + selected_element_id) == -1){
      new_connectors.push(connector);
    }
  }
  selected_element = null;
  __memory['steps'] = new_steps;
  __memory['connectors'] = new_connectors;
  load_memory();
}
// -----------------------------------
// Восстанавливаем все шаги из памяти,
// инициируем редактор
// -----------------------------------
function load_memory(){
  dropPageObjects(__root_id);

  for(var i=0; i<__memory['steps'].length; i++){
    var step = __memory['steps'][i];
    var new_step = `
      <div class="block draggable" id="block_${step.id}" style="left:${step.left}px; top:${step.top}px; position:absolute;">
        <div class="title balloon_title">${step.title}</div>
        <div class="desc balloon_desc">${step.desc}</div>
      </div>
    `;
    $(__root_id).append($(new_step));
  }
  for(var i=0; i<__memory['connectors'].length; i++){
    var connector = __memory['connectors'][i];
    var new_connector = `
      <div class="${connector.id}">
        <img src='{% static "img/arrow.gif" %}' class="connector-end">
      </div>
    `;
    $(__root_id).append($(new_connector));
  }

  initRedactor();
  initBlockListeners();
  initPageObjects();
}

// --------------------------------
// Нажатие по блоку, вызываем меню,
// загружаем информацию в меню
// --------------------------------
function initBlockListeners(block){
  var block_selector = " .block";
  if(block !== undefined){
    block_selector = " #" + block;
  }
  $(__root_id + block_selector).click(function(event){
    selected_element = $(this);
    open_mainMenu(event);
    load_balloon($(this));
  });
}

// ---------------------------------
// Полная очистка canvas
// для последующей переинициализации
// ---------------------------------
function dropPageObjects(){
  var canvas = findCanvas(__root_id.replace("#", ""));
  if(canvas !== null){
    var c = document.getElementById(canvas.id);
    while (c.firstChild) {
      c.removeChild(c.firstChild);
    }
    canvases.splice(canvases.indexOf(canvas), 1);
  }
}

// ----------------------------------
// Обновление позиции, заголовка,
// описания в памяти для последующего
// восстановления из памяти
// ----------------------------------
function update_steps_in_memory(){
  var canvas = findCanvas(__root_id.replace("#", ""));
  if(canvas !== null){
    __memory['steps'] = Array();
    __memory['connectors'] = Array();
    var blocks = canvas.blocks;
    for(var i=0; i<blocks.length; i++){
      var block = blocks[i];
      __memory['steps'].push({
        "id": parseInt(block.id.replace("block_", "")),
        "title": $("#" + block.id).find(".balloon_title").getCode(),
        "desc": $("#" + block.id).find(".balloon_desc").getCode(),
        "left": block.currentLeft,
        "top": block.currentTop,
      });
    }
    var connectors = canvas.connectors;
    for(var i=0; i<connectors.length; i++){
      var connector = connectors[i];
      __memory['connectors'].push({
        "id": connector.id,
      });
    }
  }
}

// -------
// События
// -------
$(document).ready(function(){
  mainMenuContainer = $(".mainMenu");
  // -------------------------------
  // Нажатие на меню (разворачиваем)
  // -------------------------------
  $(".mainMenu").click(function(event){
    open_mainMenu(event);
  });
  // --------------------------
  // Нажатие по рабочей области
  // прячет открытые редакторы
  // --------------------------
  $(__root_id).click(function(){
    hide_air_mode_redactor();
  });

  // ------------------------------
  // Добавление нового шага
  // _childblock_ - добаляемый
  // _parentblock_ - куда добавляем
  // заменяем на block_0 (block_id)
  // ------------------------------
  $("#add_new_step").click(function(event){
    if(selected_element === null){
      return;
    }
    step_to_memory();
  });

  $("#drop_current_step").click(function(event){
    if(selected_element === null){
      return;
    }
    step_from_memory();
  });

  setInterval(function(){
    update_steps_in_memory();
    localStorage.setItem("__memory", JSON.stringify(__memory));
  }, 1000);
});
</script>
</head>
<body class="custom_bootstrap">

<div class="mainMenu">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Свойства шага</div>
        <div class="panel-body">
          <div id="balloon_title">Наименование шага</div>
          <div id="balloon_desc">
            Содержание шага
          </div>
          <div class="input-group">
            <a href="javascript:void(0);" id="add_new_step" class="btn btn-primary">Добавить шаг</a>
            <a href="javascript:void(0);" id="drop_current_step" class="btn btn-danger">Удалить шаг</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Связи шага</div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="canvas" id="mainCanvas" style="width: 100%; height: 600px; border: 1px solid black;">

  {% comment %}
    <!--{% include "dialog/demo_dialog.html" %}-->
  {% endcomment %}

</div>

</body>
</html>