{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<link media="all" rel="stylesheet" href='{% static "css/custom_bootstrap.min.css" %}' />

<script type="text/javascript" src='{% static "js/jquery-3.3.1.min.js" %}'></script>


<link media="all" rel="stylesheet" href='{% static "css/jquery-ui.min.css" %}' />
<script type="text/javascript" src='{% static "js/jquery-ui.min.js" %}'></script>

<script type='text/javascript'>

// ----------------------------
// Подписаться на транзакции
// Без авторизации - бесполезно
// ----------------------------
function subscribe_transactions(){
  var action = {"transaction": 1, "subscribe":1}
}
// ----------------------------------------
// Подписаться на тики по нужному контракту
// ----------------------------------------
function subscribe_ticks(contract){
  if(!contract){
    contract = "R_50"
  }
  action = {"ticks": contract, "subscribe":1}
}
function get_active_symbols(){
  var action = {
    "active_symbols": "brief",
    "product_type": "basic"
  }
  send_data(action);
}
// -------------------
// Ну, млять, поехали!
// -------------------
function init(){
  get_active_symbols();
}

// -----------------------------
// Основной класс для компонента
// -----------------------------
class GeneralComponent{
  // --------------------
  // el => jquery элемент
  // --------------------
  constructor(el, clonable){
    this.components_container = $(".components"); // Контейнер компонентов
    this.constructor_container = $(".constructor"); // Контейнер конструктора
    this.el = el;
    this.clonable = clonable; // Клонируется нажатием true/false
    // --------------------------
    // Если это инструмент, то
    // добавляем в инструментарий
    // --------------------------
    if(this.clonable){
      this.el.draggable({
        helper: "clone",
      });
      this.components_container.append(this.el);
    }else{
      this.el.draggable({
        snap: true,
        grid: [10, 10],
        containment: this.constructor_container
      });
      this.el.resizable({
        grid: [10, 10],
      });
    }
  }
}

function init_components(){
  // -----------------------------------
  // Инициализация объектов, которые
  // могут быть перемещены в конструктор
  // -----------------------------------
  var rectangle = $('<div><div class="rectangle"></div></div>');
  var rectangle_component = new GeneralComponent(rectangle, true);

  var arrow_up = $('<div><div class="arrow_up"></div></div>');
  var arrow_up_component = new GeneralComponent(arrow_up, true);

  // ---------------------------
  // Инициализация области, куда
  // будут перемещаться объекты
  // ---------------------------
  $(".constructor").droppable({
    drop: function(event, ui){
      var html = ui.draggable.html();
      var new_el = new GeneralComponent($(html), false);
      $(this).append(new_el.el);
      //new_el.el.css("top", event.pageY - ui.offset.top);
      //new_el.el.css("left", event.pageX - ui.offset.left);
    }
  });
}

// --------------------------------------
// Задаем настройки для конструктора схем
// --------------------------------------
function apply_constructor_settings(){

  var cs_width = $("#constructor_width");
  var cs_height = $("#constructor_height");

  var width = parseInt(cs_width.val());
  var height = parseInt(cs_height.val());

  $(".constructor").width(width);
  $(".constructor").height(height);

  $(".constructor").resizable({
    grid: [10, 10],
  });

  $(".constructor").on("resizestop", function(event, ui){
    cs_width.val(ui.size.width);
    cs_height.val(ui.size.height);
  });

  console.log("set width", width, "and height", height);
}

// ----------------------------
// Браузер загрузил все ресурсы
// ----------------------------
window.onload = function(){
}
// ---------------------------------------
// Браузер загрузил HTML и построил дерево
// ---------------------------------------
document.addEventListener('DOMContentLoaded', dom_loaded);
function dom_loaded(){
  init_components();

  // --------------------------
  // Задаем настройки для схемы
  // --------------------------
  apply_constructor_settings();
  $("#apply_constructor_settings").click(function(){
    apply_constructor_settings();
  });
}
// ----------------
// Уход со страницы
// ----------------
window.onbeforeunload = function() {
  //return "Данные не сохранены. Точно перейти?";
};
</script>
<style type="text/css">
  .clear{
    clear:both;
    width:100%;
  }
  table.table thead th{
    text-align:center;
    border:0 !important;
  }
  table.table tfoot th{
    text-align:center;
    border:0 !important;
  }
  .components{
    width:150px;
    border:0 !important;
  }
  .constructor{
    border:1px solid #ccc;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQYV2NkIBIwEqmOYVQh3pAiNnj+AwALaAEKfsPrZgAAAABJRU5ErkJggg==);
  }
  .rectangle{
    height:100px;
    width:100px;
    background-color:#ccc;
  }
  /* Абсолютные координаты (для добавления) */
  .constructor .rectangle,
  .constructor .arrow_up{
    position:absolute !important;
  }
  .arrow_up {
    height:100px;
    width:100px;
    background-image:url("{% static 'img/arrow_right.png' %}");
    background-size:cover;
    background-repeat:no-repeat;
  }
</style>

</head>
<body class="custom_bootstrap">

<!-- Настройки для схемы -->
<div class="settings">
  <div class="col-md-4">
    <label for="constructor_width">Ширина схемы</label><br />
    <input type="number" id="constructor_width"  step="10" min="100" max="3000" value="800" autocomplete="off" />
  </div>
  <div class="col-md-4">
    <label for="constructor_width">Высота схемы</label><br />
    <input type="number" id="constructor_height" step="10" min="100" max="3000" value="600" autocomplete="off" />
  </div>
  <div class="col-md-4"><br />
    <input type="button" class="btn btn-primary" id="apply_constructor_settings" value="Задать" />
  </div>
  <div class="clear"></div>
</div>

<br /><br />

<div class="col-md-3">
  <div>Компоненты</div>
  <div class="components"></div>
</div>
<div class="col-md-9">
  <div>Конструктор схем</div>
  <div class="constructor"></div>
</div>

</body>
</html>