{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<link media="all" rel="stylesheet" href='{% static "css/custom_bootstrap.min.css" %}' />

<script type="text/javascript" src='{% static "js/jquery-3.3.1.min.js" %}'></script>
<script src='{% static "js/highstock.js" %}'></script><!-- можно highcharts.js для простых диаграм -->

<script src='{% static "js/highcharts-more.js" %}'></script>

<script src='{% static "js/math_functions.js" %}'></script>
<script type='text/javascript'>
function log(func, msg){
  console.log(func, "=>", msg);
}
var ws_tokens = ["S2CdZcfFPZ6Q0A2",   // dkramorov@mail.ru
                 "vwG5V6Vo66jUpqq",   // dk@223-223.ru
                ];


var authorized = false;
var ws = null;
var active_symbols = null;
var subscribed_tick_ids = Array(); // по каким контрактам подписаны на тики
var ticks_data = {}; // тики по контрактам
var deals_data = {}; // сделки по контрактам
var conditions_data = {}; // выполненные условия по контрактам
var delay_before_deal = {}; // замок - задержка перед следующей ставкой по контрактам
var charts_data = {}; // графики по контрактам
var stats_data = {}; // статистика по контрактам

// ---------
// Константы
// ---------
var MAX_TICKS = 1000;
var BOLLINGER_BANDS_STEPS = 20;
var STANDARD_DEVIATIONS = 2;

// -------------
// Инициализация
// -------------
function init_websocket(){
  var ws_instance = new WebSocket('wss://ws.binaryws.com/websockets/v3?app_id=1089&l=RU');
  ws_instance.onopen = function(evt) {
    log("ws_instance.onopen", "ws opened");
    ws = ws_instance;
  };
  ws_instance.onmessage = function(msg) {
    var data = JSON.parse(msg.data);
    switch(data.msg_type){
      case 'ping':
        return;
      case 'authorize':
        authorized = data.authorize;
        show_account();
        return;
      case 'forget':
        log("ws_instance.onmessage", "forget subscribe");
        return;
      case 'active_symbols':
        active_symbols = data.active_symbols;
        show_active_symbols();
        break;
      case 'tick':
        check_subscribed_ticks(data.tick, data.subscription.id);
        // ---------------------------------------------------
        // save_new_tick(data.tick); => check_subscribed_ticks
        // Иначе тики придут и нарушат сортировку в истории
        // ---------------------------------------------------
        return;
      case 'history':
        save_new_ticks(data.echo_req.ticks_history, data.history);
        break;
      // ------------------------------------------
      // Заключен контракт и мы на него подписались
      // ------------------------------------------
      case 'proposal_open_contract':
        save_new_deal(data.proposal_open_contract);
        break;
      // -----------------
      // Покупка контракта
      // -----------------
      case 'buy':
        update_account(data.buy);
        break;
      default:
        break;
    }
    log("ws_instance.onmessage", data);
  };
}
// -------------------------------------
// Запоминаем полученную сделку в потоке
// -------------------------------------
function save_new_deal(data){
  // ----------------------------
  // Добавляем контракт в сделки,
  // если его там еще нет
  // ----------------------------
  var tick_symbol = data.underlying;
  if(!(tick_symbol in deals_data)){
    deals_data[tick_symbol] = Array();
  }

  for(var i=0; i<data.tick_stream.length; i++){
    var tick = data.tick_stream[i];
    data.tick_stream[i] = [local_timestamp(tick.epoch), parseFloat(tick.tick)];
  }
  // ----------------------------------------
  // Если мы выигрываем/проигрываем контракт,
  // контракт подменяется на результат ставки
  // ----------------------------------------
  //var tick_contract = data.id;
  var tick_contract = data.contract_id;
  var cur_contract = false;
  for(var i=0; i<deals_data[tick_symbol].length; i++){
    //if(deals_data[tick_symbol][i].id === tick_contract){
    if(deals_data[tick_symbol][i].contract_id === tick_contract){
      cur_contract = true;
      deals_data[tick_symbol][i] = data;
    }
  }
  // ----------------------------------
  // Если это новый контракт, добавляем
  // ----------------------------------
  if(!cur_contract){
    deals_data[tick_symbol].push(data);
  }
}
// -----------------------------------
// Запоминаем полученные тики в потоке
// -----------------------------------
function save_new_tick(tick){
  if(!(tick.symbol in ticks_data)){
    ticks_data[tick.symbol] = Array();
  }
  var new_tick = [local_timestamp(tick.epoch), parseFloat(tick.quote)];

  ticks_data[tick.symbol].push(new_tick);
  if(ticks_data[tick.symbol].length > MAX_TICKS){
    ticks_data[tick.symbol].shift();
  }
  // ----------------------------
  // Докидываем боллинджера в тик
  // третий элемент массива в
  // каждом тике со словарем
  // ----------------------------
  var prices = Array();
  for(var i=0; i<ticks_data[tick.symbol].length; i++){
    prices.push(ticks_data[tick.symbol][i][1]);
  }
  for(var i=0; i<ticks_data[tick.symbol].length; i++){
    var cur_tick = ticks_data[tick.symbol][i];
    if(cur_tick.length < 3){
      // -------------------
      // Линии болленджера
      // top, middle, bottom
      // -------------------
      var bb = bollinger_bands(prices, i, BOLLINGER_BANDS_STEPS, STANDARD_DEVIATIONS);
      ticks_data[tick.symbol][i].push(bb);
    }
  }
}

// ----------------------------------------
// Делаем ставку, т/к условия удовлетворены
// symbol - контракт, type = PUT|POST
// ----------------------------------------
function buy_from_playboy(symbol, type){
  // -----------------------
  // Делаем ставку,
  // что там по мартингейлу?
  // -----------------------
  var deal_params = {
    "contract_type": type,
    "amount": calc_rates(symbol),
  }
  buy(symbol, deal_params);
  var date = new Date();
  var now = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + " " + date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear();
  $("#analytics").append($("<p>" + " " + now + " " + symbol + " " + type + " ставка " + deal_params['amount'] + "</p>"));
}

// ----------------------------------
// Покупка =>
// Цена пересекает среднюю линию
// канала Боллинджера или касается ее
// После этого касается крайней
// линии канала Боллинджера
// Покупка делается противоположно
// ----------------------------------
function playboy(symbol){
  // -----------------------------------
  // Ищем по контракту последнюю сделку,
  // от нее считать будем
  // -----------------------------------
  var epoch = 0;
  var last_deal = null;

  var last_deal_len = deals_data[symbol].length;
  if(last_deal_len !== 0){
    // --------------------------------
    // Если последняя сделка еще
    // не завершена, тогда пока ожидаем
    // --------------------------------
    last_deal = deals_data[symbol][last_deal_len - 1];
    if(last_deal.status === "open"){
      return;
    }
    epoch = local_timestamp(deals_data[symbol][last_deal_len - 1].date_expiry);
  }
  // ---------------------------------
  // Проверяем последний тик,
  // должно быть касание верхней линии
  // ---------------------------------
  var ticks_len = ticks_data[symbol].length;
  if(ticks_len < 10){
    return;
  }
  var last_tick = ticks_data[symbol][ticks_len-1];

  var bb = last_tick[2];
  if(last_tick[1] > bb[0]){
    // ---------------------------------------------------
    // Если после предыдущей сделки не был касание центра,
    // то защищаемся от тренда и не делаем ставку
    // ---------------------------------------------------
    if(last_deal !== null){
      // ---------------------------
      // Идем в обратном направлении
      // Ищем пересечение центра
      // ---------------------------
      for(var i=(ticks_len-1); i>=0; i--){
        var tick = ticks_data[symbol][i];
        bb = tick[2];
        // -------------------
        // Пересечения не было
        // -------------------
        if(epoch > tick[0]){
          break;
        }
        // ----------------
        // Пересечение было
        // ----------------
        if(tick[1] <= bb[1]){
          buy_from_playboy(symbol, "PUT");
          break;
        }
      }
    }else{
      buy_from_playboy(symbol, "PUT");
    }
  }else if(last_tick[1] < bb[2]){
    // ----------------------------------------------------
    // Если после предыдущей сделки не было касание центра,
    // то защищаемся от тренда и не делаем ставку
    // ----------------------------------------------------
    if(last_deal !== null){
      // ---------------------------
      // Идем в обратном направлении
      // Ищем пересечение центра
      // ---------------------------
      for(var i=(ticks_len-1); i>=0; i--){
        var tick = ticks_data[symbol][i];
        bb = tick[2];
        // -------------------
        // Пересечения не было
        // -------------------
        if(epoch > tick[0]){
          break;
        }
        // ----------------
        // Пересечение было
        // ----------------
        if(tick[1] >= bb[1]){
          buy_from_playboy(symbol, "CALL");
          break;
        }
      }
    }else{
      buy_from_playboy(symbol, "CALL");
    }
  }
}
// ----------------------------------------
// Рассчитываем сколько раз мы уже серанули
// ----------------------------------------
function get_loose_count(symbol){
  var loose_count = 1;
  for(var i=(deals_data[symbol].length-1); i>=0; i--){
    var deal = deals_data[symbol][i];
    if(deal.status === "lost"){
      loose_count += 1;
    }else{
      // -----------------------------------
      // Тут непонятка - если мы в сделке,
      // то будет всегда digit возвращаться,
      // но лучше так
      // -----------------------------------
      break;
    }
  }
  return loose_count;
}
// ----------------------------------
// Высчитываем с помощью мартингейла
// сколько мы должны сейчас поставить
// ----------------------------------
function calc_rates(symbol){
  var digit = 0.35;
  var max_loose_count = 5;
  var multiply = 2; // Множитель
  var loose_count = get_loose_count(symbol);

  // -------------------------------------
  // Если умудрились max раз подряд всрать
  // пишем в статистику
  // -------------------------------------
  if(loose_count > stats_data[symbol].max_loose_in_sequence){
    stats_data[symbol].max_loose_in_sequence = loose_count;
  }
  while(loose_count > max_loose_count){
    loose_count = loose_count - max_loose_count;
  }
  return martingail(digit, loose_count, multiply);
}

// -------------------------------------
// Запоминаем полученные тики по истории
// -------------------------------------
function save_new_ticks(symbol, history){
  // ----------------
  // Обнуляем массивы
  // ----------------
  ticks_data[symbol] = Array();
  deals_data[symbol] = Array();
  // ---------------------
  // Подготавливаем массив
  // ---------------------
  for(var i=0; i<history.prices.length; i++){
    var tick = {
      symbol: symbol,
      quote: history.prices[i],
      epoch: history.times[i],
    };
    save_new_tick(tick);
  }
  // -----------------
  // Создаем диаграмму
  // -----------------
  if($("#chart_" + tick.symbol).length < 1){
    create_chart(tick.symbol);
  }
}
// ----------------------------------
// Если приходят какие то тики,
// то добавляем айди потоков в массив
// Сохраняем по 1 тику здесь, чтобы
// не сохранять их раньше чем зайдет
// вся история и сортировка нарушится
// ----------------------------------
function check_subscribed_ticks(tick, id){
  for(var i=0; i<subscribed_tick_ids.length; i++){
    if(subscribed_tick_ids[i][0] === tick.symbol && subscribed_tick_ids[i][1] === id){
      save_new_tick(tick);
      // ------------
      // И ... играем
      // ------------
      playboy(tick.symbol);
      return;
    }
  }
  subscribed_tick_ids.push([tick.symbol, id]);
  // ------------------------------------------
  // Запрашиваем историю по тикам для контракта
  // ------------------------------------------
  get_ticks_history(tick.symbol);
}
// ----------------------------
// Запрашиваем историю по тикам
// ----------------------------
function get_ticks_history(symbol){
  send({
    "ticks_history": symbol,
    "end": "latest",
    "start": 1,
    "style": "ticks",
    "adjust_start_time": 1,
    "count": MAX_TICKS,
  })
}
// ---------------------------------
// Показываем информацию об аккаунте
// после того как авторизовались
// ---------------------------------
function show_account(){
  $("#authorized").html(`
    <p class='balance' data-balance='${authorized.balance}'>Баланс: ${authorized.balance}</p>
    <p>email: ${authorized.email}</p>
    <p>is_virtual: ${authorized.is_virtual}</p>
    <p>scopes: ${authorized.scopes.join(", ")}</p>
  `);
  $("#analytics").append($("<p>Начинаем, баланс " + authorized.email + " : " + authorized.balance + "</p>"));
}
// --------------------------------
// Обновляем информацию об аккаунте
// data = {'balance_after':1000.00}
// --------------------------------
function update_account(data){
  $("#authorized .balance").html(`Баланс: ${data.balance_after}`);
  $("#authorized .balance").attr("data-balance", data.balance_after);
  $("#analytics").append($("<p>Баланс: " + data.balance_after + "</p>"));
}
// ---------------------------------
// Сгруппировать возможные контракты
// Вывести возможные контракты
// ---------------------------------
function show_active_symbols(){
  var result = {};
  var container = $("#active_symbols");
  for(var i=0; i<active_symbols.length; i++){
    var active_symbol = active_symbols[i];
    // ------
    // Маркет
    // ------
    var market = active_symbol.market;
    var market_container = container.find("#market_" + market);
    if((market_container).length < 1){
      container.append($(
        `<div class='market' id='market_${market}'>
          <h2>${active_symbol.market_display_name}</h2>
        </div>`)
      );
    }
    // ---------
    // Субмаркет
    // ---------
    var submarket = active_symbol.submarket;
    market_container = container.find("#market_" + market);
    var submarket_container = market_container.find("#submarket_" + submarket);
    if((submarket_container).length < 1){
      market_container.append($(
        `<div class='submarket' id='submarket_${submarket}'>
          <h3>${active_symbol.submarket_display_name}</h3>
        </div>`)
      );
    }
    // ------
    // Индекс
    // ------
    var symbol = active_symbol.symbol;
    submarket_container = market_container.find("#submarket_" + submarket);
    var symbol_container = submarket_container.find("#symbol_" + symbol);
    if((symbol_container).length < 1){
      submarket_container.append($(
        `<div class='symbol' id='symbol_${symbol}'>
          <label for='symbol_${symbol}_checkbox'>
            <input type='checkbox' name='symbol_${symbol}' class='checkbox_symbol' id='symbol_${symbol}_checkbox' data-symbol='${symbol}' onchange='subscribe_ticks_stream()' >
            ${active_symbol.display_name}
          </label>
        </div>`)
      );
    }
  }
  $("#symbol_R_50_checkbox").click();
  return result;
}
// ----------
// Пингуем ws
// ----------
function ping(){
  if(ws !== null){
    if(active_symbols === null){
      get_active_symbols();
      return;
    }
    if(!authorized){
      authorize();
      return;
    }
    send({ping: 1});
  }
}
// -----------
// Авторизация
// -----------
function authorize(){
  send({
    "authorize": ws_tokens[0],
  });
}

function send(msg){
  ws.send(JSON.stringify(msg)); // {ticks:'R_100'}
}
// -----------------------------------------
// Проверить все тиковые потоки и на нужные
// подписаться (где стоит галка), а от
// ненужных - отписаться
// -----------------------------------------
function subscribe_ticks_stream(){
  $(".symbol .checkbox_symbol").each(function(){
    var symbol = $(this).attr("data-symbol");
    var subscribe = 0;
    if($(this).prop("checked")){
      // ------------------------------------
      // Не подписываемся, если уже подписаны
      // ------------------------------------
      var already_subscribed = false;
      for(var i=0; i<subscribed_tick_ids.length; i++){
        if(subscribed_tick_ids[i][0] === symbol){
          already_subscribed = true;
        }
      }
      if(!already_subscribed){
        log("subscribe_ticks_stream", "RUN=>" + symbol);
        send({
          ticks: symbol,
          subscribe: 1,
        });
      }
    }else{
      for(var i=0; i<subscribed_tick_ids.length; i++){
        if(subscribed_tick_ids[i][0] === symbol){
          send({
            "forget": subscribed_tick_ids[i][1],
          });
          subscribed_tick_ids.splice(i, 1);
          break;
        }
      }
    }
  });
}
// ----------------------------
// Получаем возможные контракты
// ----------------------------
function get_active_symbols(){
  send({
    active_symbols: "brief",
    product_type: "basic",
  });
}

// -----------------
// Создаем диаграмму
// -----------------
function create_chart(symbol){
  $("#charts").append($(`<div id="chart_${symbol}"></div>`));

  //var prices = Array();
  //for(var i=0; i<ticks_data[symbol].length; i++){
    //prices.push(ticks_data[symbol][i][1]);
  //}

  var data = [{ // 0
      id: "series_" + symbol,
      name: symbol,
      data: [],
    //}, {
      //name: 'sma',
      //data: [],
    }, { // 1
      name: 'Bollinger',
      data: [],
      color: Highcharts.getOptions().colors[0],
      marker: {
        enabled: false
      }
    }, { // 2
      name: 'BollingerBands',
      data: [],
      type: 'arearange',
      lineWidth: 0,
      linkedTo: ':previous',
      color: Highcharts.getOptions().colors[0],
      fillOpacity: 0.15,
      zIndex: 0,
      marker: {
        enabled: false
      }
    }, { // 3
      type: 'flags',
      name: 'Сделки',
      data: [/*{
        x: ticks_data[symbol][970][0],
        title: 'A',
        text: 'Shape: "squarepin"'
      }, {
        x: ticks_data[symbol][950][0],
        title: 'A',
        text: 'Shape: "squarepin"'
      }*/],
      onSeries: "series_" + symbol,
      //shape: 'squarepin',
      //shape: 'circlepin',
      //width: 16,
      width: 32,
    }];

  var tick = null;
  for(var i=0; i<ticks_data[symbol].length; i++){
    tick = ticks_data[symbol][i];
    data[0].data.push([tick[0], tick[1]]);
    //data[1].data.push([tick[0], sma(prices, i, 5)]);
    // -------------------
    // Линии болленджера
    // top, middle, bottom
    // -------------------
    //var bb = bollinger_bands(prices, i, BOLLINGER_BANDS_STEPS, STANDARD_DEVIATIONS);
    //data[1].data.push([tick[0], bb[1]]);
    //data[2].data.push([tick[0], bb[0], bb[2]]);

    var bb = tick[2];
    data[1].data.push([tick[0], bb[1]]);
    data[2].data.push([tick[0], bb[0], bb[2]]);
  }

  var myChart = Highcharts.chart('chart_' + symbol, {
    chart: {
      height:600,
    },

    tooltip: {
        crosshairs: true,
        shared: true,
    },

    title: {
      text: symbol,
    },
    navigator: {
        enabled: true,
    },
    scrollbar: {
        enabled: true,
    },
    rangeSelector: {
        enabled: true,
    },
    xAxis: {
      type: 'datetime',
      range: 60 * 1000 // 60 sec
    },
    series: data,
    plotOptions: {
        series: {
            allowPointSelect: true,
        }
    },
  });

  // --------------------------
  // Записываем график в массив
  // --------------------------
  if(charts_data[symbol] === undefined){
    charts_data[symbol] = myChart;
  }
  // ------------------------------
  // Записываем статистику в массив
  // ------------------------------
  if(stats_data[symbol] === undefined){
    stats_data[symbol] = {
      "started": Date.now(),
      "max_loose_in_sequence": 0,
    };
  }

  var interval = setInterval(function() {
    var cur_tick = null;

    //var prices = Array();
    //for(var i=0; i<ticks_data[symbol].length; i++){
      //prices.push(ticks_data[symbol][i][1]);
    //}

    var shift = false;
    var redraw = false;

    // if ticks_data.length > 1000 shift=true;
    for(var i=0; i<ticks_data[symbol].length; i++){

      cur_tick = ticks_data[symbol][i];
      if(cur_tick[0] > tick[0]){
        tick = cur_tick;
        myChart.series[0].addPoint([tick[0], tick[1]], redraw, shift);
        //myChart.series[1].addPoint([tick[0], sma(prices, i, 5)], true, shift);
        // -------------------
        // Линии болленджера
        // top, middle, bottom
        // -------------------
        //var bb = bollinger_bands(prices, i, BOLLINGER_BANDS_STEPS, STANDARD_DEVIATIONS);
        //myChart.series[1].addPoint([tick[0], bb[1]], redraw, shift);
        //myChart.series[2].addPoint([tick[0], bb[0], bb[2]], redraw, shift);

        var bb = tick[2];
        myChart.series[1].addPoint([tick[0], bb[1]], redraw, shift);
        myChart.series[2].addPoint([tick[0], bb[0], bb[2]], redraw, shift);
      }
    };

    // ----------------
    // Флаги для сделок
    // ----------------
    var deals_data_len = deals_data[symbol].length;
    for(var i=0; i<deals_data_len; i++){
      var deal = deals_data[symbol][i];
      // ------------------------
      // Если сделка завершена
      // и обработана, пропускаем
      // ------------------------
      if(deal.processed === 1){
        continue;
      }
      // ---------------------------
      // Название флага (вверх/вниз)
      // ---------------------------
      var title = "↓";
      if(deal.contract_type == "CALL"){
        title = "↑";
      }
      // ---------------------
      // Выбираем цвет флага
      // Выбираем исход сделки
      // ---------------------
      var color = "#000000";
      var status = ""
      switch(deal.status){
        case "won":
          color = "#00FF00";
          status = "+"
          break;
        case "lost":
          color = "#FF0000";
          status = "-"
          break;
        default:
          break;
      }

      title += " " + status;


      if(deal.tick_stream.length > 0){
        var dd = deal.tick_stream[0];
        // ----------------------------------------
        // Проверка на то, что точка уже на графике
        // ----------------------------------------
        var index = myChart.series[3].xData.indexOf(dd[0]);
        if(index === -1){
          myChart.series[3].addPoint({
            x: dd[0],
            title: title,
            color: color,
            text: 'Цена: ' + deal.buy_price + '<br />Статус: Сделка открыта' + '<br />Значение:' + dd[1],
          }, redraw, shift);
        }
      }

/*
      for(var j=0; j<deal.tick_stream.length; j++){
        var dd = deal.tick_stream[j];
        // ----------------------------------------
        // Проверка на то, что точка уже на графике
        // ----------------------------------------
        var index = myChart.series[3].xData.indexOf(dd[0]);
        if(index > -1){
          // ----------------------
          // Если сделка закончена,
          // то надо обновить точки
          // ----------------------
          if(deal.status !== "open"){
            myChart.series[3].points[index].update({
                title: title,
                text: 'Цена: ' + deal.buy_price + '<br />Статус: ' + deal.status,
                color: color,
            });
          }
          continue;
        }else{
          myChart.series[3].addPoint({
            x: dd[0],
            title: title,
            color: color,
            text: 'Цена: ' + deal.buy_price + '<br />Статус: ' + deal.status,
          }, redraw, shift);
        }
      }
*/
      // ----------------------------------
      // Если сделка закрыта,
      // тогда отмечаем ее как обработанную
      // ----------------------------------
      if(deal.status !== "open"){
        deal.processed = 1;
        // ---------------------------
        // Показываем результат сделки
        // ---------------------------
        var tick_stream_len = deal.tick_stream.length;
        if(tick_stream_len > 0){
          var dd = deal.tick_stream[tick_stream_len-1];
          myChart.series[3].addPoint({
            x: dd[0],
            title: title,
            color: color,
            text: 'Цена: ' + deal.buy_price + '<br />Статус: ' + status + '<br />Значение:' + dd[1],
          }, redraw, shift);
        }
        // -----------------------------------
        // Обновить баланс при успешной сделке
        // -----------------------------------
        if(deal.status === "won"){
          var balance = $("#authorized .balance").attr("data-balance");
          var balance_after = parseFloat(balance) + deal.payout;
          update_account({'balance_after':balance_after.toFixed(2)});
          $("#analytics").append($("<p>Выигрыш</p><p>---</p>"));
        }else{
          $("#analytics").append($("<p>Проигрыш</p><p>---</p>"));
        }
      }
    };
    // -------------------------
    // Перерисовка по завершению
    // -------------------------
    myChart.redraw();
  }, 1000);
}

// ------------------------------
// Покупка
// params - параметры для сделки:
// ------------------------------
function buy(contract, params){
  // ---------------------------------
  // Задержка перед следующей покупкой
  // ---------------------------------
  if(delay_before_deal[contract] === undefined){
    delay_before_deal[contract] = 0;
  }else{
    var now = Date.now();
    if(now <= delay_before_deal[contract]){
      console.log("[WARN]: delay before deal");
      return;
    }
  }
  console.log(params);
  var deal_params = {
    "symbol": contract,
    "duration_unit": "t", // m
    "duration": 5, // 1
    "contract_type": "CALL", // PUT
    "basis": "stake", // payout
    "currency": "USD",
    "amount": "0.35",
    // "date_start":date_start, # Отложенные контракты должны начинаться позднее, чем через 5 минут от настоящего момента.
  }
  // -------------------------------------
  // Переопределение параметров для сделки
  // -------------------------------------
  if(params !== undefined){
    if(params['contract_type']){
      deal_params['contract_type'] = params['contract_type'];
    }
    if(params['amount']){
      deal_params['amount'] = params['amount'];
    }
  }

  var deal = {"parameters": deal_params};
  deal['price'] = deal_params['amount'];
  deal['buy'] = 1;
  deal['subscribe'] = 1;

  console.log("[DEAL]:", deal);

  delay_before_deal[contract] = Date.now() + 5000; // 5 сек задержка
  send(deal);
}

// --------------------------------
// Покупка для нескольких аккаунтов
// params - параметры для сделки
// Нам не приходит история, мы не
// можем нормально подписаться
// --------------------------------
function buy_for_multiple_accounts(contract, params){
  // ---------------------------------
  // Задержка перед следующей покупкой
  // ---------------------------------
  if(delay_before_deal[contract] === undefined){
    delay_before_deal[contract] = 0;
  }else{
    var now = Date.now();
    if(now <= delay_before_deal[contract]){
      console.log("[WARN]: delay before deal");
      return;
    }
  }
  console.log(params);
  var deal_params = {
    "symbol": contract,
    "duration_unit": "t", // m
    "duration": 5, // 1
    "contract_type": "CALL", // PUT
    "basis": "stake", // payout
    "currency": "USD",
    "amount": "0.35",
    // "date_start":date_start, # Отложенные контракты должны начинаться позднее, чем через 5 минут от настоящего момента.
  }
  // -------------------------------------
  // Переопределение параметров для сделки
  // -------------------------------------
  if(params !== undefined){
    if(params['contract_type']){
      deal_params['contract_type'] = params['contract_type'];
    }
    if(params['amount']){
      deal_params['amount'] = params['amount'];
    }
  }

  var deal = {"parameters": deal_params};
  deal['buy_contract_for_multiple_accounts'] = 1
  deal['tokens'] = ws_tokens
  deal['price'] = deal_params['amount'];

  console.log("[DEAL]:", deal);

  delay_before_deal[contract] = Date.now() + 5000; // 5 сек задержка
  send(deal);
}

// ----------------------------
// Браузер загрузил все ресурсы
// ----------------------------
window.onload = function(){
  init_websocket();
  setInterval(function(){
    ping();
  }, 1000);
}
$(document).ready(function(){

  var test_symbol = "R_50";
  var test_deal_params = {
    "contract_type": "CALL",
    "amount": 0.35,
  }

  $("#buy_contract").click(function(){
    buy(test_symbol, test_deal_params);
  });
  $("#buy_contract_multiple").click(function(){
    buy_for_multiple_accounts(test_symbol, test_deal_params);
  });


  $(".toggle_active_symbols_panel").click(function(){
    var container = $(".active_symbols_panel");
    if(container.hasClass("active")){
      container.removeClass("active");
      $(this).html("Показать контракты");
    }else{
      container.addClass("active");
      $(this).html("Скрыть контракты");
    }
  });
});
</script>
<style type="text/css">
  .clear{
    clear:both;
    width:100%;
  }
  .active_symbols_panel{
    display:none;
  }
  .active_symbols_panel.active{
    display:block;
  }
</style>

</head>
<body class="custom_bootstrap">

<!-- Добавить регистрацию по токену токен + пароль -->
<div id="login_panel">
  Ваш токен: <input type="text" />
  Ваш пароль: <input type="text" />
</div>

<div id="authorized"></div>

<div class="active_symbols_panel">
  <div id="active_symbols"></div>
</div>
<a class="toggle_active_symbols_panel btn btn-info">Показать контракты</a><br /><br />

<div id="buttons">
  <a id="buy_contract" href="javascript:void(0);" class="btn btn-primary">Купить</a>
  <a id="buy_contract_multiple" href="javascript:void(0);" class="btn btn-primary">Купить на несколько аккаунтов</a>
</div>
<div id="deal_conditions">
  <h2>Условия покупки вверх</h2>
  <ul>
    <li>Касание нижней границы Боллинджера</li>
    <li>Предыдущей сделки не было или после нее мы были выше средней линии Боллинджера</li>
  </ul>

  <h2>Условия покупки вниз</h2>
  <ul>
    <li>Касание верхней границы Боллинджера</li>
    <li>Предыдущей сделки не было или после нее мы были ниже средней линии Боллинджера</li>
  </ul>
</div>

<div id="charts"></div>

<div id="container"></div>

<div id="analytics" style="height:500px;">
  <h2>События:</h2>
</div>


<!--

TODO:
1) логирование (вывод) покупок
2) регистрация по токену
3) сделать так, чтобы 1 ключ не мог играть параллельно (не давать залогиниться двум пользователям)

https://www.highcharts.com/stock/demo/compare
-->
</body>
</html>